/* GENERAL */

*
{
    margin: 0;
    padding: 0;
    
}

body
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4
{
    color: #444;
}

h1
{
    
    font-family:  'Crete Round, serif';
    font-size: 45px;
}

h2
{
    font-size: 55px;
}

h3
{
    font-size: 30px;
}

h4
{
    font-size: 24px;
}

p
{
    line-height: 20px;
    color: #777
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: #444
}

.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.violet
{
    color: #EE82EE;
}

.clear
{
    clear: both;
}

small
{
    font-size: 13px;
    font-style: italic;
}


/* MAIN-IMAGE */

#main-image
{
    height: 450px;
    background: url('images/captureconv.png') center;
}

#main-image h2
{
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0 40px 0;
}

#main-image input
{
    width: 30%;
    margin: 0 0 0 110px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    transition: 0.5s;
    outline: none;

}

#main-image input:focus 
{
    border: 3px solid #555;
}

/* FOOTER */

footer
{
    height: 200px;
    background-color: #444;
}

footer h1
{
    color: #fff;
    text-align: center;
    padding-top: 80px;
}

.copyright
{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}
.containerCG
{
    padding: 50px;
}
.TAC
{
    text-align: center;
}
.TAC1
{
    text-align: center;
}